<?xml version="1.0" ?>
<robot name="table">
    <link name="table_link">
    <contact>
        <lateral_friction value="1"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.01"/>
      </geometry>
       <material name="wooden">
        <color rgba="0.52 0.36 0.25 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.01"/>
      </geometry>
    </collision>
  </link>
</robot>
